html {
  --chrome: darkslategray;
  height: 100vh;
}

html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

canvas {
  border: 5px solid var(--chrome);
}

.control-center {
  display: flex;
  background-color: var(--chrome);
  padding: 1rem 2rem 0.5rem;
}

.game-button {
  padding: 1rem 2rem;
  margin: 0 0.25rem;
}

.color-selector {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  width: 100%;
}
.color-swatch {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 150px;
  height: 60px;
}
.color-swatch div {
  width: 20px;
  height: 20px;
}
